<style>
:root
{
  --color-txt:    color-mix(in srgb, CanvasText, Canvas 45%);
  --color-accent: color-mix(in srgb, CanvasText, Canvas 80%);
}

html {
  color: var(--color-txt);
  background-color: Canvas;
  color-scheme: light dark;
}

body {
  max-width: 45em;
}

a {
  color: var(--color-txt);
}
a:visited {
  color: var(--color-txt);
}

th {
  border-top: 1px solid var(--color-accent);
}

tbody {
  border-top: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}

div.sourceCode {
  padding: 0.5em;
  border-radius: 2px;
}

hr {
  border: none;
  border-top: 1px solid var(--color-accent);
  opacity: 0.75;
}

/* FOR GLOBAL HEADER
 * -------------------------------------------------- */

nav.running-header {
  display: flow-root;
  font-size: 0.75em;
  border-bottom: 1px solid var(--color-accent);
  padding-bottom: 5px;
  
  a {
    text-decoration: none;
  }
}

.site-title {
  font-style: italic;
  float: left;
}

.github-link {
  float: right;
}
</style>
